.headerContainer {
  display: flex;
  flex-direction: row;
  background-color: #161430;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
  gap: 80px;

  @media (min-width: 920px) {
    padding: 16px 80px;
  }
}

.logoWrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  cursor: pointer;
}

.navWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.logo {
  display: block;
  background-image: url(/logo.jpg);
  background-size: contain;
  height: 50px;
  width: 50px;
}
